#access {
    height: 689px;
}

.map-wrap {
    position: relative;
    height: 519px;
}

.map-info {
    background-color: $crim;
    position: absolute;
    transform: translate(0%, 60%);
    width: 76%;
    height: 60%;
    p {
        text-align: center;
        font-size: 1.8rem;
        line-height: 50px;
        padding: 150px 630px 97px 54px;
    }
}

.map-pic {
    position: absolute;
    width: 68%;
    height: 60%;
    right: 0;
    bottom: 5%;
    box-shadow: 3px 3px 40px black;
}

